<div class="col-md-8 offset-md-3"></div>

<h1 class="text-center">Create Account</h1>

    <div *ngIf="accountCreate" class="alert alert-success">

        Account Created Succesfully!

    </div>

    

<form (ngSubmit)="onSubmit()">


    <div class="form-group">
        <label>Account Holder Name</label>
        <input type="text" id="accountHolderName" class="form-control" name="accountHolderName" placeholder="Enter Account Holder Name"
        
        [(ngModel)]="account.accountHolderName"/>
    </div>


    <div>
        <label>Balance</label>
        <input type="text" id="balance" class = "form-control" name="Enter Balance" placeholder="Enter Account Holder Name"
        
        [(ngModel)]="account.balance"/>
    </div>

    <br>
    <button type = "submit" class ="btn btn-success">Submit</button>


</form>
