<div class="col-md-8 offset-md-3"></div>

<h1 class="text-center">Withdraw Amount</h1>

<div *ngIf="successMessage" class="alert alert-success">
    {{successMessage}}
</div>

<div *ngIf="errorMessage" class="alert alert-danger">
    {{errorMessage}}
</div>

<form (ngSubmit)="onSubmit()">

    <div>
        <label>Balance</label>
        <input type="text" id="balance" class = "form-control" name="Enter Balance" placeholder="Enter Account Holder Name"
        
        [(ngModel)]="account.balance"/>
    </div>

    <br>
    <button type = "submit" class ="btn btn-success">Submit</button>


</form>
